@import "tailwindcss";

@theme {
  --color-industrial-slate: #0f172a;
  --color-industrial-charcoal: #1e293b;
  --color-industrial-orange: #ea580c;
  --color-industrial-paper: #f8fafc;
}

body {
  background-color: var(--color-industrial-paper);
  color: var(--color-industrial-slate);
}